POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
POSTGRES_DB = eventsdb
POSTGRES_HOST = db
PGPORT = 6666

RABBITMQ_HOST = rabbitmq
RABBITMQ_PORT = 5672
RABBITMQ_USER = guest
RABBITMQ_PASSWORD = guest

REDIS_HOST = redis
REDIS_PORT = 6379

PANDASCORE_API_TOKEN = super_secret_token

EXCHANGE_NAME = posts_exchange
ROUTING_KEY = posts.created